:root {

  --azul-calmo: #4569d7;
  --cinza-claro: #F3F4F6;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    transition: all 0.2s ease;
}

nav ul .active {
    color: #4569d7a9;
}

/* ESTILIZAÇÃO DO HEADER */

.header {
    width:100%;
    max-width:1100px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
    padding: 0 20px;
}

.header ul {
    list-style: none;
    display:flex;
    gap: 20px;   
}

.header li a{
    font-size: 20px;
    font-weight: 600;
}

.header a {
    text-decoration: none;
    color: black;
}

.header li a:hover {
    opacity: 0.5;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--azul-calmo)
}

/* ESTILIZAÇÃO DA MAIN - INDEX */

main {
    width:100%;
    background-color: var(--cinza-claro);
}

.index-about {
    max-width: 1100px;
    margin:auto;
    padding: 50px 20px 50px 20px;
    height:calc(80vh - 80px);
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.index-about h1 {
    font-size:40px;
    margin-bottom: 50px;
    line-height: 44px;
}

.index-about p {
    max-width: 350px;
}

.index-about img {
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    margin-left:20px;
}

/* ESTILIZAÇÃO DE PROJETOS */

.voluntario {
    max-width:1100px;
    margin:auto;
    display:flex;
    gap:20px;
    padding: 50px 20px 0px 20px;
    justify-content: space-between;
}

.projeto_leftside {
    display:flex;
    flex-direction: column;
}

.projeto_leftside h1 {
    font-size:32px;
    margin-bottom: 50px;
    line-height: 44px;
}

.projeto_leftside p {
    margin-bottom:20px;
}

.projeto_rightside {
    display:flex;
    align-items: center;
}

.projeto_rightside img {
    max-width: 500px;
    border-radius: 20px;
    margin-left:70px;
}

.doacao {
    max-width:1100px;
    margin:auto;
    display:flex;
    gap:20px;
    padding: 50px 20px 50px 20px;
}

.doacao_leftside {
    display:flex;
    align-items: center;
}

.doacao_leftside img {
    max-width: 500px;
    border-radius: 20px;
    margin-right:70px;
}

.doacao_rightside h2 {
    font-size:32px;
    margin-bottom: 50px;
    line-height: 44px;
}

.doacao_rightside p {
    margin-bottom:20px;
}

/* ESTILIZAÇÃO CADASTRO */

.cadastro {
    max-width:1100px;
    margin:auto;
    padding: 50px 20px;
}

.cadastro fieldset {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent
}

.cadastro h1 {
    font-size:32px;
    margin-bottom: 10px;
}

.cadastro_form {
    display:flex;
    justify-content: space-between;
}

.cadastro_form label {
    display:flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.cadastro_form input {
    padding: 10px 20px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    margin-top:10px;
    outline:none;
}

.cadastro_form legend {
    font-size: 20px;
    font-weight: 700;
    color: var(--azul-calmo);
    margin-bottom: 40px;
}

.form_nascimento {
    max-width:190px;
}

.form_button {
    display:inline;
    background-color: var(--azul-calmo);
    color:white;
    cursor: pointer;
}

.form_estado {
    margin-bottom: 20px;
}

.form_button:hover {
    opacity: 0.5;
}

/* ESTILIZAÇÃO DO FOOTER */

footer {
    width:100%;
    background-color: var(--azul-calmo);
    color:white;
    margin:auto;
    padding: 0 20px;
}

footer section {
    display:flex;
    max-width:1100px;
    margin:auto;
    justify-content: space-between;
    height:184px;
    align-items: center;
}

.footer_leftside {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.footer_leftside h2 {
    margin-bottom:10px;
}

.footer_rightside {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.footer_rightside h2 {
    margin-bottom:10px;
}

.footer_rightside a {
    text-decoration: none;
    color:white;
}

.footer_rightside a:hover {
    opacity: 0.5;
}

/* RESPONSIVIDADE */

@media (max-width:950px) {
    .index-about img {
        max-width: 400px;
        height: auto;
        border-radius: 20px;
        margin-left:20px;
    }

    .projeto_rightside img {
        max-width: 400px;
        margin-left:20px;
    }

    .doacao_leftside img {
        max-width: 400px;
        margin-right:20px;
    }

    .cadastro h1 {
        text-align: center;
        margin-bottom:30px;
    }

    .cadastro_form {
        flex-direction: column;
        align-items: center;
    }

    .cadastro_form legend {
        text-align: center;
        margin-bottom:20px;
    }

    .cadastro_form label {
        align-items: center;
    }

    .cadastro_form {
        gap: 40px;
    }
}

@media (max-width:750px) {

    .index-about {
        height:auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .index-about p {
        margin-bottom: 50px;
    }

    .index-about img {
        max-width: 400px;
        margin-left:0;
    }

    .voluntario {
        flex-direction: column;
        align-items: center;
    }

    .projeto_leftside h1 {
        text-align: center;
    }

    .projeto_rightside img {
        margin:0;
    }

    .doacao {
        flex-direction: column-reverse;
        align-items: center;
    }

    .doacao_leftside img {
        margin:0;
    }

    .doacao_rightside h2 {
        text-align: center;
    }

    

    footer section {
        height:250px;
    }

    footer section p,
    footer section strong,
    footer section a {
        font-size:14px;
    }

    footer section h2 {
        text-align: center;
    }

    .footer_rightside {
        margin-left:20px;
    }


}

@media (max-width:410px) {

    .header .logo {
        font-size:20px;
    }

    .header li a {
        font-size:16px;
    }

    .index-about h1 {
        text-align: center;
        font-size:32px;
        margin-bottom: 30px;
        line-height: 46px;
    }

    .index-about p {
        font-size:14px;
    }

    .index-about img {
        max-width: 300px;
        height: auto;
        border-radius: 20px;
        margin-left:0;
    }

    .projeto_leftside h1 {
        font-size:28px;
        margin-bottom: 30px;
        line-height: 32px;
    }

    .projeto_leftside p {
        font-size: 14px;
    }

    .projeto_rightside img {
        max-width: 300px;
    }

    .doacao_leftside img {
        max-width: 300px;;
    }

    .doacao_rightside h1 {
        font-size:28px;
        margin-bottom: 30px;
        line-height: 32px;
    }

    .doacao_rightside p {
        font-size: 14px;
    }

    .cadastro h1 {
        font-size:28px;
    }

    .cadastro_form input {
        width: 300px;
        font-size:14px;
    }

    
    footer section {
        flex-direction: column;
        height:auto;
        padding: 20px 20px;
    }

    .footer_leftside {
        margin:0;
        margin-bottom:30px;
    }
}