<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelos e Patas - Homepage</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="./index.html" class="logo">Pelos e Patas</a>
        <nav>
            <ul>
                <li><a href="./projetos.html">Projetos</a></li>
                <li><a href="./cadastro.html">Cadastro</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="index-about">
            <div>
                <h1>Sobre a <br> Pelos e Patas</h1>
                <p>
                    Pelos e Patas é uma ONG dedicada ao resgate e cuidado de animais abandonados.
                    Com amor e responsabilidade, acolhemos cães e gatos em situação de risco, oferecendo tratamento, abrigo e a chance de um novo lar.
                    Nosso sonho é um mundo onde todo animal seja amado e respeitado. 💛
                </p>
            </div>
            <div>
                <img src="../assets/images/img20.jpg" alt="">
            </div>
        </section>
    </main>

    <footer>
        <section>
            <div class="footer_leftside">
                <h2>Contatos</h2>
                <p>📍 <strong>Endereço:</strong> Rua Exemplo, Bairro Central - Cidade / Estado</p>
                <p>📱 <strong>Telefone / WhatsApp:</strong> (00) 00000-0000</p>
                <p>✉️ <strong>E-mail:</strong> contato@pelosepatas.org</p>
            </div>
            <div class="footer_rightside">
                <h2>Redes Sociais</h2>
                <p>Instagram: <a href="#">@pelosepatas</a></p>
                <p>Facebook: <a href="#">/pelosepatas</a></p>
                <p>TikTok: <a href="#">@pelosepatas</a></p>
            </div>
        </section>
    </footer>
</body>
</html>